*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nav{
  background-color: rgba(0, 0, 0, 0.891);
  height: 82px;
  font-size: 25px;
  width: 1800px;
  text-align: justify;
  position: fixed;
}
.nav li{
margin-left: 10px;
  list-style-type: none;
padding: 30px;
float: right;  
}
.nav ul{
  display: flex;
  justify-content: center;
  position: sticky;
}
.nav a li {
  color: white;
}

body{
  min-height: 100vh;
  background: url(pexels-pixabay-315755.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-top: 100px;

}

.contact-info{
  color: rgb(0, 0, 0);
  margin-top: 45px;
  max-width: 500px;
  line-height: 65px;
  font-size: 20px;   
  background-color: rgba(255, 255, 255, 0.639);
}

.contact-info i{
  margin-right: 50px;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 10px;   
  color: rgb(250, 15, 54);
}

.contact-form{
  max-width: 500px;
  margin-right: 10px;
  margin-top: 130px;
  color: white;
  opacity: 1;
  margin-left: 45px; 
}

.contact-info, .contact-form{
  flex: 1;
}

.contact-form h2{
  color: rgb(0, 0, 0);
  text-align: center;   
  border-radius: 5px;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;  

}

.contact-form .text-box{
  background: rgba(255, 250, 250, 0.245);
  color: #fff;   
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px; 
  margin-bottom: 20px;
}
 

.contact-form textarea{
  background: rgba(255, 255, 255, 0.632);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 0.9;
}


.contact-form .send-btn{
  float: right;
  background: rgb(25, 247, 43);
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 50px;
  cursor: pointer;  
}

.contact-form .send-btn:hover{
  background: #18eba1;
  border-radius: 50px;
}


@media screen and (max-width: 980px){
  .contact-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .contact-info, .contact-form{
    margin: 30px 50px;
  }

  .contact-form h2{
    font-size: 20px;
  }

  .contact-form .text-box{
    width: 100%;
  }

  .nav{
    position: relative;
    float: none;
    display: block;
    text-align: left;
  }
  
}

  @media screen and (max-width: 750px){
    .nav{       
     font-size: small;
    } 
  }
  